# ========================
# Archivos de ayuda
# ========================
HELP.md

# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd


!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# IDEs - Spring Tool Suite (STS)
# ========================
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# ========================
# IDEs - IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr

# ========================
# IDEs - NetBeans
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Archivos del sistema operativo
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
